.die{
  
    font-size: 10em;
    font-weight: bold;
    color: #b520d3;
    padding: 0.25em;
}
.shaking{
  animation-name: wobble;
  animation-duration: 1s;
  background-color: aquall;
}
@keyframes wobble{
    from{
        transform: translate3d(0,0,0);
        color: #000;
    }
    15%{
        transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg) ;
        color: rgb(216, 37, 37);
    }
    30%{
        transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg) ;
        color: rgb(58, 160, 17);
    }
    45%{
        transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg) ;
        color: rgb(67, 17, 160);
 }
  60%{
    transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg) ;
 }
  75%{
    transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg) ;
 }
    to{
        transform: translate3d(0,0,0);
     }
}