body{
    background: linear-gradient(to right, #ade920 0%, #005bea 100%);
}
.roll-dice{
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    align-items: center;  
}
.rolldice-container{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.roll-dice button{
width: 10rem;
align-self: center;
}
.roll-dice button:hover{
    cursor: pointer;
    background-color: #b520d3;
}
.form{
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    justify-content: center;
    width: 10rem;
    margin-top: 2rem;
   font: 1.6em sans-serif;
   color: rgb(67, 64, 66);
    font-weight: bold;
}